*{
    box-sizing: border-box;
}

:root{
    --font-family : "Poppins", sans-serif;      
    --highlight-clr : #04b47f;
    --link-clr : #0f9069;
    --mid-white : rgba(255,255,255,.8);
}

body{
    margin: 0;
    padding : 0;
    background : rgb(243, 244, 249);
    overflow-x: hidden;
    line-height : 1.5;
    font-family: var(--font-family);
}

ul{
    margin : 0;
    padding : 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color : black;
    display : inline-block;
}

img{
    display : block;
    max-width : 100%;
}

h2,h3,h4,p{
    margin : 5px 0; 
}

svg{
    width : 50px;
    height : 50px;
    fill : var(--highlight-clr);
}

button{
    outline : 1px solid rgb(224, 151, 15);
    border : none;
    background-color : transparent;
}

header{
    position: sticky;
    top : 0;
    z-index : 999;
}

nav{
    background : white;
    padding : 15px 10px;
}

.container{
    display : flex;
    align-items: center;
    justify-content: space-between;
    width : 90%;
    max-width : 1200px;
    margin : auto;
}

.flex{
    display : flex;
    justify-content: space-between;
}

.flex-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.grid{
    display : grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap : 20px;
}

.nav-links-container{
    display : flex;
    align-items: center;
    gap : 30px;
}

.nav-link{
    transition: color .5s ease, letter-spacing .5s ease;
}

.nav-link:hover{
    color : var(--link-clr);
    letter-spacing: .3px;
}

.hamburger{
    --gap : 5px;
    display: none;
    flex-direction: column;
    gap: var(--gap);
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger span{
    --height: 4px;
    width : 30px;
    height : var(--height);
    border-radius: 10px;
    background-color : rgba(0, 0, 0, 0.8);
    transition: transform .5s ease, opacity .3s ease;
}

header.mobile .hamburger span:nth-child(1){
    transform : translate3d(0, calc(var(--gap) + calc(var(--height))), 0) rotate(45deg);
}

header.mobile .hamburger span:nth-child(2){
    opacity: 0;
    transform: scale(0);
}

header.mobile .hamburger span:nth-child(3){
    transform : translate3d(0, -9px, 0) rotate(-45deg);
}

.logo{
    display : flex;
    align-items: center;
    gap : 5px;
}

.logo span{
    width : 30px;
    height : 30px;
    border-radius: 50%;
    display : flex;
    align-items: center;
    justify-content: center;
    background : var(--highlight-clr);
    color : var(--mid-white);
    border-radius : 50px
}

.mobile-nav{
    --padding : 20px;
    position : fixed;
    right : -100%;
    height : 100vh;
    height : 100dvh;
    overflow-y: auto;
    background : rgba(255,255,255,.9);
    display : flex;
    flex-direction : column;
    max-width: 250px;
    width: 100%;
    align-items: start;
    backdrop-filter: blur(30px);
    padding : 30px 0px;
    transition: right .5s ease;
}

.mobile-nav .logo-container{
    margin-bottom : 25px;
    padding-left : var(--padding)
}

.mobile.nav-links-container{
    width : 100%;
    align-items: stretch;
    gap :initial;
}

.mobile.nav-link{
    padding : 20px var(--padding);
    transition: background-color .5s ease, letter-spacing .7s ease, padding .7s ease;
    display: block;
    font-size : 1.2rem;
}

.mobile.nav-link:hover{
    background-color: rgba(0,0,0,.1);
    padding-left : 30px;

}

.mobile.nav-links-container li{
    border-top : 2px solid rgba(0,0,0,.07);
}

.mobile.nav-links-container li:last-child{
    border-bottom : 2px solid rgba(0,0,0,.07);
}

header.mobile .mobile-nav{
    right : 0;
}

.mobile.nav-links-container{
    flex-direction: column;
}

.section{
    padding : 40px 90px 40px 90px; 
}

.banner.section{
    height : calc(100vh - 51px); 
    padding : 0;
    display : flex;
    justify-content: space-between;
    position: relative;
    /* align-items: center; */
}

.micro{
    position : absolute;
    background-color: #69e9c212;
}

.micro-1{
    top: -12px;
    left: -12px;
    width: 90px;
    height: 90px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.micro-2{
    top : 20px;
    left : 40%;
    width : 50px;
    height : 50px;
    transform: rotate(45deg);
}

.micro-3{
    bottom: -12px;
    right: 37%;
    width: 90px;
    height: 90px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    z-index: -1;
    transform: rotate(-106deg);
}

.text-section{
    padding: 15px 0 15px 90px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small-text{
    font-size: .8rem;
    transform: translate(5px, 12px);
    color : #777;
    display : block;
    margin-bottom: 12px;
}

 .head-text{
    margin: 5px 0;
    font-size : clamp(2rem, 5.5vw, 4rem);
}

.mid-head-text{
    font-size: clamp(2rem, 5.5vw, 3.8rem);
    margin: 0 0 10px;
}

 .sub-text{
    color : rgba(0,0,0,.8);
    max-width : 650px;
    font-size : .95rem;
    margin : 10px 0 0;
}

.content .head-text span{
    display : block
}

.highlight{
    color : var(--highlight-clr)
}

.banner-cta{
    background : rgb(65, 223, 65);
    padding : 10px 0px;
    display : flex;
    align-items: center;
    justify-content: center;
    gap : 15px;
    border-radius: 50px;
    margin-top: 20px;
    max-width : 300px;
}


.banner-cta svg{
    width : 30px;
    height : 30px;
    fill : var(--mid-white);

}

.banner-cta span{
    color : var(--mid-white);
    font-size : 1.3rem;
}

.img-container{
    width : 35%;
    display : flex;
    justify-content: flex-end;
}

.img-container img{
    width : 500px;
    height: 450px;
    object-fit: cover;
}

.banner .img-container img{
    height : 100%;
}

.services.section{
    background-image: linear-gradient(45deg, #09203f 0%, #537895 100%);
    color : white;
    padding-right : 20px;
}

.services-text-section{
    width : 40%;
    margin-bottom : 30px;
}

.services-text-section .small-text{
    color : rgba(255,255,255,.7)
}

.services-text-section span{
    color : rgba(255,255,255,.8)
}

.service-boxes-container{
    width : 55%;
}

.service-box{
    background : #051730c4;
    padding : 20px;
    border-radius: 10px;
}

.advantages.section{
    padding : 0
}

.sites.section{
    background : hsl(200, 66%, 92%);
}

.sites.section h3{
    text-align: center;
    margin-bottom: 40px;
}

.site-card{
    padding : 20px;
    border-radius: 10px;
    background-color: hsl(200, 66%, 88%);
    width : 350px;
}

.site-card svg .st0{
    fill : var(--highlight-clr)
}

.video.site-card svg path{
    fill : transparent;
    stroke: var(--highlight-clr);
}

.works.section{
    background : linear-gradient(35deg, #050910b0 0%, #2b44b5 100%);
    color : rgba(255,255,255,.8);
}

.works.section .mid-head-text{
    text-align: center;
    margin-bottom : 30px
}

.work.card{
    width : 350px;
    display: block;
    transition : transform .5s ease;
    color : rgba(255,255,255,.8);
}

.card:hover{
    transform: translateY(-10px) scale(1.03);

}

.work .card-img-container img{
    /* width : 300px */
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-text{
    background : #030e33;
    padding : 20px 15px 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-text h4{
    font-size: 1.2rem;
}

.card-text p{
    font-size: .8rem;
    color: rgba(255,255,255,.6);
}

footer{
    background-color : #00072d;
    color : rgba(255,255,255,.8);
    text-align : center;
}

.footer-sub-text{
    max-width : 900px;
    margin : 0 auto
}

.footer-links-container.flex{
    justify-content: center;
    flex-direction : row;
    gap : 12px;
    margin-top : 30px;
}

.footer-link{
    width : 60px;
    height : 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border : 2px solid rgba(255,255,255,.3);
    border-radius: 50%;
    transition: background .5s ease, border-color .5s ease;
}

.footer-link:hover{
    background : black;
    border-color: transparent;
}

.footer-link svg{
    width : 30px;
    height : 30px;
    transition: fill .5s ease;
}

.footer-link:hover svg {
    fill : white;
}

@media(max-width : 1100px){
    .banner.section{
        height: auto;
        flex-direction: column;
    }

    .micro{
        display : none;
    }

    .section{
        padding : 40px 0;
    }

    .wrapper{
        width : 90%;
        margin : auto
    }

    .flex{
        flex-direction: column;
    }

    .text-section{
        width : 100%;
        padding: 20px 0;
    }

    .content{
        width : 90%;
        margin : 0 auto;
    }

    .img-container{
        width : 100%;
    }

    .img-container img{
        padding-bottom : 40px;
        width : 100%;
    }

    .banner.section .img-container img{
        width : 90%;
        margin : 0 auto;
        height : 400px;
    }

    .services-text-section{
        width : 100%;
    }

    .service-boxes-container{
        width : 100%;
    }

}

@media(max-width : 600px){
    .nav-links-container{
        display : none;
    }

    .mobile.nav-links-container{
        display : flex
    }

    .hamburger{
        display : flex;
    }
}

